<%= semantic_form_for @event do |f| %>
  <%= f.input :title %>
  <%= f.input :description, as: :text %>
  <%= f.input :priority %>

  <div class="form-actions">
    <%= f.submit 'Save event', class: 'btn btn-primary' %>
    <%= link_to 'Cancel', :back, class: 'btn btn-link' %>
  </div>
<% end %>
