<div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        <%= link_to 'events', events_path %> /
        <%= @event.id %>
      </h1>
    </div>
</div>

<dl>
  <dt>Priority</dt>
  <dd><%= @event.priority %></dd>
  <dt>title</dt>
  <dd><%= @event.title %></dd>
  <dt>Content</dt>
  <dd><%= @event.description %></dd>
</dl>

<%= link_to "Edit event", edit_event_path(@event), class: 'btn btn-primary' if can? :edit, @event %>
<%= link_to "All event", events_path, class: 'btn btn-link' %>
