<p id="notice"><%= notice %></p>

<h1>Listing Profile Videos</h1>

<table>
  <thead>
    <tr>
      <th>Video</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profile_videos.each do |profile_video| %>
      <tr>
        <td><%= profile_video.video %></td>
        <td><%= profile_video.user %></td>
        <td><%= link_to 'Show', profile_video %></td>
        <td><%= link_to 'Edit', edit_profile_video_path(profile_video) %></td>
        <td><%= link_to 'Destroy', profile_video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profile video', new_profile_video_path %>
