<li data-id="<%= job.id %>">
  <div class="discussion-summary">
    <div class="col-xs-3 col-xs-offset-3 col-sm-2 col-sm-offset-0 col-md-2 author">
      <%= link_to main_app.job_path(job) do %>
        <%= avatar_tag job, size: :small %>
      <% end %>
    </div>
    <%= link_to main_app.job_path(job), class: 'col-xs-8 col-sm-6 col-md-10 main' do %>
      <h3 class="title" style="font-size:26px;color:#0087e0;"><%= job.title %></h3>
      <ul class="info list-unstyled">
        <li class="item-tags">
          <span class="badge badge-default"><strong><%= "#{job.user.first_name} #{job.user.last_name} "%></strong>posted
          <%= time_ago_in_words job.created_at %> ago</span>
        </li>
        <li class="item-meta">
          <p style="font-size:22px" align="left" ><%= job.description.truncate_words(50) %></p>
          <%= job.summery_of_experience.truncate_words(50) %>
        </li>
      </ul>
    <% end %>
  </div>
</li>