<div class="col-md-4 user-client">
  <div class="thumbnail">
    <%= image_tag(client.image_url(:thumb), alt: client.name) if client.image? %>

    <div class="caption">
      <%= f.input :image %>
      <%= f.hidden_field :image_cache %>

      <%= f.input :name %>
      <%= f.input :website %>
      <%= f.input :bio, label: 'About', input_html: { rows: 3 } %>
    </div>

    <p class="text-center">
      <%= f.hidden_field :id %>
      <%= f.check_box :_destroy, class: 'hide' %>
      <%= f.label :_destroy, 'Remove Client', class: 'btn btn-danger remove_fields', data: { target: '.user-client' } %>
    </p>
  </div>
</div>
