<h2>Invoices</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Invoice Id</th>
      <th>Currency</th>
      <th>Amount</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Stripe Customer Id</th>
      <th>Payment Status</th>
    </tr>
  </thead>
  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.invoice_id %></td>
        <td style="text-align: center;"><%= invoice.currency %></td>
        <td><%= invoice.decorate.amount %></td>
        <td><%= invoice.start_date.strftime("%d-%b-%Y") %></td>
        <td><%= invoice.end_date %></td>
        <td><%= invoice.customer_id %></td>
        <td style="text-align: center;">
          <% if invoice.pay_status == true %>
            PAID
          <% else %>
            UNPAID
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>