<% cover_photo(@user.cover_photo_url) %>

<%= semantic_form_for @user, html: { class: 'profile-page col-md-8 col-md-offset-2' } do |f| %>
  <%= hidden_field_tag :user_action, 'edit_password' %>

  <h2>Update Your Password</h2>

  <div class="fields">
    <%= f.semantic_errors *f.object.errors.keys %>
  </div>

  <div class="profile-avatar">
    <%= avatar_tag @user, size: :large %>
  </div>

  <div class="fields">
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
  </div>

  <div class="form-actions">
    <%= f.action :submit, label: 'Save Profile', button_html: { class: 'btn btn-primary' } %>
    <%= link_to 'Cancel', user_path(@user), class: 'btn btn-link' if @user.persisted? %>
  </div>

<% end %>
