<h3 class="">CZARDOM PARTNERS</h3>
<% if main_page? && !group_page? %>
  <% if SponsorLogo.default[0] != nil %>
    <div class="widgetx widget-ad">
      <%= link_to  sponsor_path(SponsorLogo.default[0].slug) do%>
        <%= image_tag SponsorLogo.default[0].image.url %>
      <% end %>
    </div>
  <% end %>
<% end %>

<% if event_page? && !group_page?%>
  <% if SponsorLogo.default[0] != nil %>
    <div class="widget widget-ad">
      <%= link_to  sponsor_path(SponsorLogo.default[0].slug)  do%>
        <%= image_tag SponsorLogo.default[0].image.url %>
      <% end %>
    </div>
  <% end %>
<% end %>

<% if (main_page? || event_page?) && !group_page? %>
  <% if SponsorLogo.default.length > 0 %>
    <% for @index in 1..SponsorLogo.default.length - 1%>
      <div class="widget widget-ad">
        <%= link_to sponsor_path(SponsorLogo.default[@index].slug)  do%>
          <%= image_tag SponsorLogo.default[@index].image.url %>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>

<% if group_page? %>
  <% if forum_group %>
    <% (SponsorLogo.default | forum_group.sponsor_logos).each do |logo| %>
      <% if logo.image.url %>
          <div class="widget widget-ad">
            <%= link_to sponsor_path(logo.slug) do%>
              <%= image_tag logo.image.url %>
            <% end %>
          </div>
      <% end %>
    <% end %>
  <% else %>
    <% SponsorLogo.default.each do |logo| %>
      <% if logo.image.url %>
          <div class="widget widget-ad">
            <%= link_to sponsor_path(logo.slug) do%>
              <%= image_tag logo.image.url %>
            <% end %>
          </div>
      <% end %>
    <% end %>     
  <% end %>
<% end %>
