<div class="widget widget-events">
  <h3 class="widget-title">UPCOMING EVENTS</h3>
  
  <% if forum_page? %>
    <% @ap_events = Event.future.where(topic: @topics).order("priority ASC").limit(2).includes(:topic) %>
    <% #@ap_events = Event.future.limit(3) %>    
  <% else %>
    <% @ap_events = Event.future.order("priority ASC").limit(2).includes(:topic) %>      
  <% end %>

  <div class="events">
    <% @ap_events.each do |event| %>
      <div class="event item">
        <span class="event-title"> <%= event.topic %> </span>
        <span class="date-calendar">
          <span class="date-month"><%= event.start_at.strftime('%b') %></span>
          <span class="date-day"><%= event.start_at.strftime('%d') %></span>
        </span>
        <div class="item-description">
          <h3 class="item-title"><%= link_to event.title, czardom_events.event_path(event) %></h3>
          <p class="event-dates">
            <%= event.start_at.strftime('%b %d, %Y') %> -
            <%= event.end_at.strftime('%b %d, %Y') %>
          </p>
        </div>
      </div>
    <% end %>
  </div>

  <hr />

  <%= link_to 'View All Events >', czardom_events.root_path, class: 'view-all' %> <br/>
  <%= link_to '+ Create new event', czardom_events.new_event_path, class: 'view-all' %>
</div>
