<% title forum.title %>

<div id='forum'>

  <% if forum_group? %>
    <div class="profile-bio board-topic row">
      <%= avatar_tag forum_group, size: :small, class: 'col-md-2' %>

      <div class="bio-main col-md-10">
        <h2 class="profile-heading">
          <small>
            <%= link_to t('forem.forum.forums'), forem.root_path %> &raquo;
            <%= link_to forem_emojify(forum.category), [forem, forum.category] %> &raquo;
          </small>

          <%= link_to forem_emojify(forum.title), [forem, forum] %>

          <% if can? :edit, forum_group %>
            <%= link_to "Edit Group Details", edit_group_path(forum_group), class: 'btn btn-default pull-right' %>
          <% end %>
        </h2>

        <div class="bio"><%= simple_format forum_group.description %></div>
      
        <div class="numberCircle" id = "userNumberCircles"  style="float:right;margin-right: 40px"><%=forum_group.users.size%> users</div>
      </div>
    </div>
  <% else %>
    <h2 class="page-header">
      <%= link_to t('forem.forum.forums'), forem.root_path %> &raquo;
      <%= link_to forem_emojify(forum.category), [forem, forum.category] %> &raquo;
      <%= link_to forem_emojify(forum.title), [forem, forum] %>
    </h2>

    <p id='description'><%= forum.description.html_safe %></p>
  <% end %>

  <% if false %>
    <div id='forum_topic_links' class='btn-group'>
      <% unless @topic.try(:new_record?) %>
        <% if can? :create_topic, @forum %>
          <%= link_to t('forem.topic.links.new'), forem.new_forum_topic_path(forum), :class => "btn btn-primary", :id => "new-topic" %>
        <% end %>
      <% end %>
      <% if @topic %>
        <%= link_to t('forem.topic.links.back_to_topics'), forem.forum_path(forum), :class => "btn" %>
      <% end %>
      <% if can? :moderate, @forum %>
        <%= link_to t('forem.forum.moderator_tools'), forem.forum_moderator_tools_path(forum), :class => "btn btn-primary" %>
      <% end %>
    </div>
  <% end %>
</div>
